@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Override Bootstrap's primary color */
.btn-primary,
.bg-primary,
.text-primary,
.border-primary {
  color: #ff533d !important;             /* Ensure text is visible */
}

/* Override Bootstrap's secondary color */
.btn-secondary,
.bg-secondary,
.text-secondary,
.border-secondary {
  color: #ab987a !important;
}

/* Override Bootstrap's success color */
.btn-success,
.bg-success,
.text-success,
.border-success {
  color: #28a745 !important;
}

/* Override Bootstrap's info color */
.btn-info,
.bg-info,
.text-info,
.border-info {
  color: #17a2b8 !important;
}

/* Override Bootstrap's warning color */
.btn-warning,
.bg-warning,
.text-warning,
.border-warning {
  color: #f1c40f !important;             /* Dark text for contrast */
}

/* Override Bootstrap's danger color */
.btn-danger,
.bg-danger,
.text-danger,
.border-danger {
  color: #e74c3c !important;
}

/* Override Bootstrap's light color */
.btn-light,
.bg-light,
.text-light,
.border-light {
  color: #f5f5f5 !important;             /* Dark text for readability */
}

/* Override Bootstrap's dark color */
.btn-dark,
.bg-dark,
.text-dark,
.border-dark {
  color: #000000 !important;
}

/* Font dictionary-like classes */
.font-anton {
    font-family: 'Anton', sans-serif;
}

.font-didact-gothic {
    font-family: 'Didact Gothic', sans-serif;
}

.font-actor {
    font-family: 'Actor', sans-serif;
}


