html, body {
    height: 100%; /* Ensure the body takes the full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make the container take the full height of the viewport */
  }
  
  .content {
    flex: 1; /* Allow this div to grow and take the remaining space */
  }
  
  /* Optionally, add some styling for your footer */
  app-footer {
    margin-top: auto; /* Push the footer to the bottom */
  }
  