<div class="card" (click)="navigateToProduct(product.asin ?? 'ABC123')">
    <div class="card-img-wrapper">
      <img [src]="product.productImages?.[0]?.imageUrl" class="card-img-top" alt="{{ product.productName }}" />
    </div>
    <div class="card-body">
      <h5 class="card-title font-actor">{{ product.productName }}</h5>
      <div class="rating my-2">
        <i class="bi bi-star-fill" *ngFor="let star of [].constructor(5); let i = index" [ngClass]="{'text-warning': i < 4, 'text-muted': i >= 4}"></i>
        <span class="rating-text font-actor">{{ 4 }}/5</span>
      </div>
      
      <div class="price-section font-actor">
        <div *ngIf="product">
          <span class="current-price">
            ${{ ((product.productPriceHistories?.[0]?.price ?? 0) * 
                  (1 - (product.productPriceHistories?.[0]?.discount ?? 0))) | number:'1.2-2' }}
          </span>
        </div>
        
        <span *ngIf="product.productPriceHistories?.[0]?.price" class="old-price"><s>${{ product.productPriceHistories?.[0]?.price }}</s></span>
        <span *ngIf="product.productPriceHistories?.[0]?.discount" class="badge discount-badge">{{ product.productPriceHistories?.[0]?.discount! *100 }}%</span>
      </div>
    </div>
  </div>
  