/* Hide the navbar when scrolling down */
.hidden-navbar {
    top: -70px; /* Move the navbar off-screen */
    transition: top 0.3s ease-in-out; /* Smooth transition when hiding/showing */
  }
  
  .navbar {
    top: 0;
    transition: top 0.3s ease-in-out; /* Smooth transition for the navbar */
  }
  

  